* {
box-sizing: border-box;


@import './templates/template.scss'; 

.app {
    width: 55%;
    height: 100%;
    margin: 80px;
    border: 0.1px dotted $primary-color; 
    padding: 50px;
    box-shadow: 2px 0px $primary-color;
    text-align: left;
    align-content: flex-start;
  }

  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
    
li {
      width: 100px;
      margin: 25px;
      text-align: center;

      a {
        text-decoration: none;
      }

      &:hover {
        background-color: turquoise;
      }
    }
  }