/* @import './templates/template.scss' */

.app {
  width: 55%;
  height: 100%;
  margin: 80px;
  border: 0.1px dotted rgba(255, 0, 98, 0.69);
  padding: 50px;
  box-shadow: 2px 0px rgba(255, 0, 98, 0.69);
  text-align: left;
  align-content: flex-start;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  display: flex;

/* li {
    width: 100px;
    margin: 25px;
    text-align: center;
    
a {
      text-decoration: none;
    }

&:hover {
      background-color: turquoise
    }
  } */
}